.selection-container {
    flex-direction: row;
}

.WorkflowSelector, .ChangeDebugModeButton {
    width: max-content;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ChangeDebugModeButton {
    flex-direction: row;
    width: 5;
}