.WorkflowSpace {
    flex-direction: row;
    margin: auto;
}

.ExecuteWorkflowButton, .WorkflowOutput, .TextFieldInput {
    margin: 50px;
    width: 130px;
    height: 80px;
    text-align: center;
}